asgiref==3.11.1
dj-database-url==3.1.2
Django==5.2.11
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
joblib==1.5.3
numpy==2.4.3
packaging==26.0
pandas==3.0.1
patsy==1.0.2
pillow==12.1.1
psycopg2-binary==2.9.11
PyJWT==2.11.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
statsmodels==0.14.6
threadpoolctl==3.6.0
tzdata==2025.3
whitenoise==6.8.2
